<h1> Index Page </h1>

<% if flash[:notice] %>
      <div id="notice"">
         <%= flash[:notice] %> 
      </div>
<% end %>

<% if @session %>

    Logged in as :<%= @user.email%>

    <%= button_to "Log out", log_out_path, method: :delete%>
<% end%>