.add-product-form-class{
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background-color: #99f2c8;
    /* font-family: 'system-ui'; */
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}

.trix-content{
    background-color: white;
    border-radius: 8px;
}