.form-outer-div{
    margin:auto;
    width: fit-content;
    margin-top: 40px;
}

.form-outer-div h1{
    text-align:center;
    font-size: 22pt;
    margin-bottom: 5px;
}

.form-class{
    width: 400px;
    padding: 30px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    position: relative;
}

.form-class input, .form-submit-button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 8px;
    /* box-sizing: border-box; */
}

.show-hide-button{
    cursor: pointer;
    font-weight: 550;
    color: #022E3C;
    position: absolute;
    left: 315px;
    top: 108px;
}

.form-class input[type=submit]{
    background-color: #022E3C;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.form-class input[type=submit]:hover{
    background-color: #155165;
}

.form-check-box-div label{
    display: inline;
}

.form-below-links{
    margin: 10px auto auto auto;
    width: fit-content;
}
.form-below-links a{
    margin: 5px 0px;
    color: blue;
    /* text-decoration: none; */
}