.grid-item-product-image{grid-area: image;}
.grid-item-product-text{grid-area: text;}
/* .grid-item-product-buttons{grid-area: buttons;} */

.grid-container{
    display: grid;
    grid-template-areas: 'image image text text text text';
    gap: 5px;
    background-color: #0d3845;
    padding: 5px;
    margin: 25px 20px;  
    /* background-color: lightgray;  */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* grid-row-gap: 10px; */
    /* grid-column-gap: 10px;  */
    /* border: 1px solid #0d3845; */
    
}

.grid-container div{
  text-align: center;
  padding-top: 20px;
  background-color: #F3F2EF;
    
    /* font-size: 18px; */
    /* padding: 10px; */
    /* width: 375px; */
    /* height: 400px; */
    /* border: 0.5px solid black; */

}

.grid-item-product-image img{
    width: 350px;
    height: 350px;
}

.product-name{
    font-size: 40px;
    font-weight: bold;
}

.product-price{
    font-size: 20px;
    text-decoration: solid;
}

.product-category{
    font-style: italic;
    font-size: 15px;
}

.trix-content{
    font-size: 15px;
}
