/* search bar */
/* .search-div{
    float: right;
    align-items: flex-end;
    width: fit-content;
}  */

.search-div input {
    padding: 6px;
    margin-top: 8px;
    margin-left: 20px;
    font-size: 17px;
    border: none;
    /* width: auto; */
}

.search-div button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: auto;
}

/* products grid */
.grid-container-product{
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: lightgray;  */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    margin: 25px 20px; /* top-bottom left-right */
    grid-row-gap: 10px;
    grid-column-gap: 10px; 
}

.grid-item-product{
    text-align: center;
    font-size: 18px;
    /* padding: 10px; */
    /* width: 375px; */
    height: 400px;
    /* border: 0.5px solid black; */
    /* background-color: lightgray;  */
}

/* Responsive */
/* @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        
        'grid-item-product';
    }
} */

/* .index-product-image-div{
    width: inherit;
    height: 200px;
} */

/* index product image */
.index-product-image-class{
    border-radius: 8px;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

/* Buttons */
.product-button-bottom{
    margin: 10px auto auto auto;
    width: fit-content;
    margin-top: 25px;
}

.product-button-bottom a, .grid-item-product a{
    color: white;
    background-color: #022E3C;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}

.product-button-bottom a:hover, .grid-item-product a:hover{
    background-color: #155165;
}

