<h2>About: </h2>

<u><h3 style="margin-left:20px"> <%= link_to("Blogs & Vlogs .com", blogs_path) %> </h3></u>

<br>

<ul>
    <li><p> This is a demo project.</p></li>
    <li><p> Based on <u> Ruby on Rails </u>.</p></li>
    <li><p> The Website is a Blog System.</p></li>
    <li><p> It can Create, Edit, Delete and View Blogs.</p></li>
    <li><p> This project is prepared by <b>Dipanshu Ranga (Beryl Systems Pvt. Ltd.) </b></p></li>
</ul>
