/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Mountains-1412683.svg/1280px-Mountains-1412683.svg.png) no-repeat center center;
    background-size: cover;
    background-color: #99f2c8;
} */

.form-outer-div{
    margin: auto;
    width: fit-content;
}

.form-class{
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background-color: #99f2c8;
    /* font-family: 'system-ui'; */
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}

/* .form-inner-div{
    text-transform: uppercase;
} */

/* .form-inner-div > label {
    font-size: 20px;
} */


input, .form-input, .form-submit-button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}


.show_hide_button {
    margin-left: 550px; 
    margin-top: 10px;
}

.form-inner-div > input[type=submit]{
    background-color: white;
    color: #1f4037;
    text-decoration: none;
    cursor: pointer;
}

/* .form-inner-div > input[type=submit]:hover{

} */