<!-- Footer content -->

<footer >
  <div class="footer-content">
    
    <h3>GateCart.com</h3>
    
    <!-- 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ducimus amet! Ipsum sint, nobis tempore error expedita molestias, magnam blanditiis illum incidunt at dolorum molestiae, ipsa reiciendis cumque quod harum.
    </p> 
    -->

  </div>
</footer>
  